<br>
<form style="width: auto;">
  <form>
    <div style="display: inline-block;" >
      <label for="vanDatum" >Van</label>
      <input type="datetime-local" name="vanDatum" [(ngModel)]="vanDatum" style="width: 200px;" />
    </div>
    <div style="display: inline-block; float: right; margin: 0;">
      <label for="totDatum">Tot</label>
      <input type="datetime-local" name="totDatum" [(ngModel)]="totDatum" style="width: 200px;" />
    </div>
    <div>
      <button type="submit" (click)="drawChart()">Ok</button>
    </div>
  </form>

  <div [chart]="chart"></div>

  <form>
    <div>
      <label for="minRondetijd">Minimale rondetijd (seconden):</label>
      <input name="minRondetijd" type="range" minlength="0" min="0" max="3600" maxlength="3600" value="10" [(ngModel)]="minRondetijd"/>
      <input type="number" name="minRondetijd" min="0" max="3600" maxlength="4" [(ngModel)]="minRondetijd"/>
    </div>
  </form>
</form>
